<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunmao.demo.dao.RentalMapper">

  <!-- 
    https://mybatis.org/mybatis-3/zh/sqlmap-xml.html#insert-update-和-delete
    rental 表使用了自增主键，参考官方文档，设置 useGeneratedKeys=”true”，
    然后把 keyProperty 设置为目标属性，之后，通过 rentalId 就可以取出主键的值。
    
    注意：虽然，取出的主键值可以放入 Map<String, Integer> 类型的 Map 中，
    但是，主键（rentalId）被取出后的默认类型为 BigInteger ，不能进行常规的类型转换：
    Integer rentalId = rentalMap.get("rentalId"); // 将抛出类型转换异常
   -->
  <insert id="addRentalWithMap" useGeneratedKeys="true">
    INSERT INTO
        rental (rental_date, inventory_id, customer_id, staff_id)
    VALUES
        (
            NOW(), #{inventoryId}, #{customerId}, #{staffId}
        )
    <!-- 
      可以在这里添加 selectKey 元素，显式地控制 rentalId 的结果集类型。
     -->
    <selectKey keyProperty="rentalId" keyColumn="rental_id" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

</mapper>